
.icon-home-circled:before { content: '\e800'; } /* '' */
.icon-cog-alt:before { content: '\e801'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */